<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Register event</h1>

    <form action="register" method="post">
        <label for="fullname">Full Name</label>
        <br>
        <input type="text" field="fullname">
        <br>
        <br>
        <label for="dob">DOB</label>
        <br>
        <input type="date" field="dob">
        <br>
        <br>
        <label for="email">Email</label>
        <br>
        <input type="email" field="email">
        <br>
        <br>
        <label for="mobileNum">Mobile Number</label>
        <br>
        <input type="text" field="mobileNum">
        <br>
        <br>
        <label for="gender">Gender</label>
        <br>
        <input type="text" field="gender">
        <br>
        <br>
        <label for="ticketNum">Number of Tickets</label>
        <br>
        <input type="text" field="ticketNum">
    </form>
    
</body>
</html>