<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Register event</h1>

    <form th:action="register" method="post" th:object="${user}">
        <label for="fullname">Full Name</label>
        <br>
        <input type="text" th:field="*{fullname}">
        <br>
        <br>
        <label for="dob">DOB</label>
        <br>
        <input type="date" th:field="*{dob}">
        <br>
        <br>
        <label for="email">Email</label>
        <br>
        <input type="email" th:field="*{email}">
        <br>
        <br>
        <label for="mobileNum">Mobile Number</label>
        <br>
        <input type="text" th:field="*{mobileNum}">
        <br>
        <br>
        <label for="gender">Gender</label>
        <br>
        <input type="text" th:field="*{gender}">
        <br>
        <br>
        <label for="ticketNum">Number of Tickets</label>
        <br>
        <input type="text" th:field="*{ticketNum}">
         <br>
         <button type="submit">Register</button>
    </form>
    
</body>
</html>